@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anton&family=Barlow:wght@600&family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@400;500;600;700;800&family=Lobster&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&family=Prompt:ital,wght@1,900&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffe4e1;
    font-family: Alkalami;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #ffe4e1;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #4682b4;
    border-radius: 9em;
    box-shadow: inset 1px 1px 3px black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}
