.heading-meaning {
    border-bottom: 1px solid silver;
    color: #4682b4;
    letter-spacing: 5px;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px black, 2px 2px 1px black;
}
.definitions {
    font-size: 18px;
    margin: 30px auto;
}
.definition-list li {
    color: #4682b4;
    font-size: 26px;
    list-style-type: '→';
}
.definition-list span {
    color: black;
    margin-left: 20px;
}
.definition-list:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-out;
}
.definition-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.definition-title:hover {
    color: #4682b4;
}
.definitions-text {
    color: black;
}
.heading-meaning-box {
    display: flex;
    text-align: center;
    justify-content: center;
}
.fa-earth-americas {
    font-size: 34px;
    margin: 0 15px 30px 0;
}
.example-head {
    opacity: 0.6;
    font-size: 15px;
    margin-right: 10px;
}
.example-text {
    font-size: 15px;
}
