.results {
    margin-top: 10px;
}
.heading {
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 42px;
    letter-spacing: 8px;
    color: #4682b4;
    font-weight: bold;
    text-shadow: 2px 2px 2px black, 2px 2px 1px black;
}
.heading-box {
    display: flex;
}
.fa-feather {
    font-size: 36px;
    padding: 40px 5px;
    margin-right: 10px;
}
.phonetic-heading {
    display: flex;
}
.word {
    color: #4682b4;
    text-transform: capitalize;
}
.phonetic-box {
    margin-left: 20px;
}
.fa-music {
    font-size: 32px;
    padding: 0 15px;
}
